.dashboardHeader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dashboardHeader-header {
  color: '#fff';
  font-size: 16px;
  font-weight: 500;
}