.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-content {
  flex: 2;
  background-image: linear-gradient(rgba(0, 67, 150), rgba(0, 105, 176), rgba(0, 113, 176));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-chart {
  flex: 1;
  justify-content: flex-end;
}
/* HEADER STYLE */
.dashboardHeader-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 16px;
}

.dashboardHeader-date {
  color: rgba(255,255,255, 0.6);
  font-size: 12px;
  line-height: 24px;
}

.dashboardHeader-location {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.dashboardHeader-notify-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

.dashboardHeader-menu-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

/* END HEADER STYLE */

/* BODY STYLE */
.dashboardBody-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.dashboardBody-info-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dashboardBody-info-value {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.dashboardBody-status {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
  text-align: left;
  margin-left: 10px;
}
.dashboardBody-info-icon {
  width: 20px;
  height: 20px;
}

.dashboardBody-cloud-img {
  margin-right: 20px;
}

.dashboardBody-info-row {
  display: flex;
  align-items: center;
}

/* END BODY STYLE */

/* FOOTER STYLE */
.dashboardFooter-container {
  display: flex;
  align-items: center;
}

.dashboardFooter-info-item {
  flex: 1;
  border-right: 1px solid rgba(87, 164, 204);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

.dashboardFooter-info-label {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.dashboardFooter-psi {
  background-color:rgba(0, 147, 0);
  padding: 8px 10px;
  max-width: 80px;
  border-radius: 4px;
}

.dashboardFooter-info-status {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}
.dashboardFooter-info-value {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
}

.dashboardFooter-info-body {
  height: 60px;
  display: flex;
  align-items: center;
  /* max-height: 100px; */
}

.dashboardFooter-add-view {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.dashboardFooter-add-icon {
  width: 30px;
  height: 30px;
}
.dashboardFooter-add {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
  margin-top: 5px;
  font-weight: 500;
}
/* END FOOTER STYLE */


/* LENGEND CHART */

.dashboardChart-content {
  overflow: auto;
}

.legendChart-list {
  display: flex;
  align-items: center;

}

.legendChart-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 40px;
}
